$dark: #084c61
$darkTransparency: rgba(8, 76, 97, 0.75)
$light: #ae7e45 
// $light: #e8e3d1
$lightTransparency: rgba(174, 126, 69, 0.70)
$lightdark: #9F733F
$lightdarkTransparency: rgba(159, 115, 63, 0.20)
$formbg: #C9C8C8
$lightText: #c7ccdb
$placeholder: #acacac
$danger: #982649

$font: "Ubuntu", sans-serif