// $dark: #084c61
// $darkTransparency: rgba(8, 76, 97, 0.75)
// $light: #ae7e45 
// // $light: #e8e3d1
// $lightTransparency: rgba(174, 126, 69, 0.70)
// $lightdark: #9F733F
// $lightdarkTransparency: rgba(159, 115, 63, 0.20)
// $formbg: #C9C8C8
// $lightText: #c7ccdb
// $placeholder: #acacac
// $danger: #982649



// $dark: #0D2149
// $light: #ada7a2


//$darkTransparency: rgb(70, 87, 117, 0.25)

//$light: #AB947E


// $light: #e8e3d1
//$light:#BCF4DE
$menuText: #ecc19c
$lightTransparency: rgba(174, 126, 69, 0.70)
// $lightdark: #8A7968

//$lightdark:  #978C83

 
// $formbg: #465775
$lightText: #c7ccdb
$placeholder: rgb(13, 33, 73, 0.45)


$font: "Ubuntu", sans-serif


$darkTransparency: rgba(40, 42, 47, 0.4)
$lightdarkTransparency: rgba(40, 42, 47, 0.24)
$light:  #16191e
$lightdark: #13161B
$dark: #ecc19c
$formText:#13161B
$formbg: #ccc3bc 
$danger: #982649